body {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
}

input[type=number], input[type=text] {
    width: 30%;		
	padding: 5px 20px;		
	margin: 14px 0;		
	font-size: 25px;
}

input[type=button], input[type=submit], input[type=date] {	
    text-align: center;			
	background-color: #00a885;			
	color: black;			
	padding: 14px 0px;				
	margin: 14px 0;				
	border: none;			
	cursor: pointer;		
	width: 19%;		
    font-size: 25px;	
}

input[type="text"]::placeholder, input[type="number"]::placeholder {  
	text-align: center;		
}

select {
    text-align: center;			
	background-color: #00a885;			
	color: black;			
	padding: 14px 0px;				
	margin: 14px 0;				
	border: none;			
	cursor: pointer;		
		
    font-size: 25px;
}